name: SvelteKit CI/CD ECS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Login to Amazon ECR
        run: |
          aws ecr get-login-password --region us-east-2 \
          | docker login --username AWS --password-stdin 600627329405.dkr.ecr.us-east-2.amazonaws.com

      - name: Build and push Docker image
        run: |
          IMAGE_TAG=latest
          docker build -t stocktracker-frontend:$IMAGE_TAG .
          docker tag stocktracker-frontend:$IMAGE_TAG 600627329405.dkr.ecr.us-east-2.amazonaws.com/stocktracker-frontend:$IMAGE_TAG
          docker push 600627329405.dkr.ecr.us-east-2.amazonaws.com/stocktracker-frontend:$IMAGE_TAG

      - name: Force new ECS deployment
        run: |
          aws ecs update-service \
            --cluster frontend-cluster \
            --service stocktracker-frontend-service \
            --force-new-deployment \
            --region us-east-2
